

.page{
	width: 100%;
	height: 100%;
}

.firstPage{
	color:white;
	font-family: "Georgia", serif;
	letter-spacing: 3px;
	background-image: url("../img/background/dark_mosaic.png");
}
.centerDiv{
	position:relative;
	top:30%;
	text-align:center;
}

.nameHeader{
	font-size:450%;
}

.descriptionHeader{
	font-size: 250%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.secondPage{
	background-color:#333;
}

.getStartedButton{
	margin-top:1%;
	width:200px; 
	height:35px;
	position: relative;
}

.portfolioButton{
	margin-top:3%;
	width:225px; 
	height:10%;
	color:#000000;
	vertical-align: middle;
	/*white-space:5px;*/
	letter-spacing: 3px;
	/*font-family: 'Alegreya Sans SC', sans-serif;*/
	/*font-family: "Georgia", serif;*/
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	
}

.aboutMeDiv{
	width: 100%;
	height: 100%;
	text-align: center;
	color:white;
	background-image: url("../img/background/binding_dark.png");
	
}

.lighterBox{
	width:50%;
	margin-top: 3%;
	font-family: "Georgia", serif;
	border-style: dashed;
	border-width: 1px;
	border-color: #999;
	background-image: url("../img/lighter.png")
}

.portfolio{
	background-image: url("../img/background/classy_fabric.png")
}

.projectsTable{
	border-spacing: 10px;
	display:table;
	width:90%;
	position:relative;
	top:1%;
	/*bottom:0px;*/
	/*left:0px;
	right:0px;
	margin:auto;*/

}

.tableImg{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 100%;
	cursor:pointer;
}

.shaderDiv{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: black;
	width:100%; 
	font-family: 'Alegreya Sans SC', serif;
	font-weight: 200;
	/*font-size: 5em;*/
	letter-spacing: 4.5px;
	/*font-variant: small-caps;*/



	/*white-space: 3px;*/
	/*margin-bottom: 2%;*/
	/*display:table-cell;*/
	position:relative;
}


.projectLabelDiv{
	opacity:0; 
	position:absolute; 
	color:white; 
	text-align:center; 
	margin-top:15%; 
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 5px;
	font-weight: 100;
	font-size:2em;
}

.lead {
	cursor: default; 
	line-height: 2.00;
}
.hover-active:hover {
  cursor: pointer;
  background: rgba(80, 160, 250, .50);
}
.hover:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, .20);
}

/*p, blockquote {*/
  
/*}*/

blockquote {
font-family: 'Roboto Slab', serif;
  background: rgba(60, 71, 81, 0.2);
  border: 1px dashed #888888;
  box-shadow: 5px 5px 5px #0c0c0c;
  letter-spacing: 2px;
  font-size: 3em;
  text-align: left;
  vertical-align: middle;

}
h2{
	
}
h3{
	
	font-family: 'Roboto Slab', serif;
	letter-spacing: 3px;
	color: #fcfcfc;
	cursor: default;
	margin: auto;
}

.aboutMeText{
	text-align: left;
	white-space: 7px;
	line-height: 35px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: lighter;
	letter-spacing: 2.5px;
	margin-left: 25px;

}

i{margin-right: 10px;}
.programmingProjectsPage{
	background-image: url('../img/background/binding_dark.png')
}
a:link{color:#FFFFFF;}
a:visited{color:#FFFFFF;}
a:hover{text-decoration: none;}
.pysaassID{}
.gobbletID{}
.aboutMeLBL{
	margin-left:20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 4px;
	font-size:20px;
	font-weight: 500;
}

.webPortfolioHeading{
	font-family: 'Alegreya Sans SC', sans-serif;
	color:#CCCCCC; 
	margin-top:3%;
	font-size:3em;
	position:relative; 
	width:100%; 
	font-weight: 100;
	font-variant: small-caps;
	text-align:center;
}

.webPortfolioButton{
	position:relative;
	margin-top:2%;
	width:20%; 
	height:10%;
	color:#000000;
	vertical-align: middle;
	font-family: 'Roboto Slab', serif;
	font-variant: small-caps;
	font-size:2em;
	letter-spacing: 2px;
}


.questionsButton{
	position:relative;
	margin-top:2%;
	width:20%; 
	height:10%;
	color:#FFFFFF;
	vertical-align: middle;
	font-family: 'Roboto Slab', serif;
	font-variant: small-caps;
	font-size:2em;
	letter-spacing: 4px;
}

.contactLabel
{
	font-family: 'Alegreya Sans SC', serif;
	/*font-family: 'Roboto Slab', sans-serif;*/
	color:white; 
	font-size:3em; 
	font-variant: small-caps;
	width:100%; 
	letter-spacing: 4px;
	font-weight: lighter;
	position:relative;
	text-align:center

}

.profilesPage{
	background-image: url('../img/background/binding_dark.png')

}